.pageContent {
    width          : 100%;
    display        : flex;
    padding-top    : 50px;
    align-items    : flex-start;
    justify-content: space-evenly;
}

.gameData {
    display       : flex;
    flex-direction: column;
    width         : 300px;
    box-sizing    : border-box;
    padding       : 15px;
    background    : linear-gradient(to bottom, #1c3374 0%, #510f86 100%);
    border-radius : 3px;
    
}

.gameDataCoverImage {
    object-fit   : cover;
    width        : 100%;
    height       : 320px;
    border-radius: 3px;
    user-select  : none;
}

.gameScores {
    position: relative;
    margin-top: 50px;
}

.gameAverage {
    position: absolute;
    left    : 113px;
    top     : 95px;
}

.gameDetailsAndReviews {
    position      : relative;
    display       : flex;
    flex-direction: column;
    width         : 900px;
    background    : linear-gradient(to bottom, #1c3374 0%, #510f86 100%);
    padding       : 15px;
    border-radius : 3px;
    margin-bottom : 150px;
}

.details {
    margin-top: 50px;
}

.speechButton button{
    background-color: black;
    margin: 35px;
}